<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPizzaService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IPizzaService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3001/Pizza" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPizzaService" contract="PizzaServices.IPizzaService" name="BasicHttpBinding_IPizzaService" />
      <endpoint address="net.tcp://localhost:3002/Pizza" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPizzaService" contract="PizzaServices.IPizzaService" name="NetTcpBinding_IPizzaService">
        <identity>
          <userPrincipalName value="PARIMALA-LAPTOP\Dell" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>